@font-face {
  font-family: "iconfont"; /* Project id 3523521 */
  src: url('//at.alicdn.com/t/c/font_3523521_ir44zyds72l.woff2?t=1673233134068') format('woff2'),
       url('//at.alicdn.com/t/c/font_3523521_ir44zyds72l.woff?t=1673233134068') format('woff'),
       url('//at.alicdn.com/t/c/font_3523521_ir44zyds72l.ttf?t=1673233134068') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiesuo:before {
  content: "\e669";
}

.icon--kefu:before {
  content: "\e8ab";
}

.icon-huodong_huodongguanli:before {
  content: "\e615";
}

.icon-zhiyuanzhaomu:before {
  content: "\e60c";
}

.icon-dizhi:before {
  content: "\e814";
}

.icon-box:before {
  content: "\e7f5";
}

.icon-_clothes:before {
  content: "\e60b";
}

.icon-fanhui:before {
  content: "\e601";
}

.icon-dingwei:before {
  content: "\e8ba";
}

.icon-clothes:before {
  content: "\e8c7";
}

.icon-dianqi:before {
  content: "\e634";
}

.icon-suliao:before {
  content: "\e63e";
}

.icon-_jiaju:before {
  content: "\e609";
}

.icon-zhongjinshu:before {
  content: "\e81a";
}

.icon-zhixiang:before {
  content: "\e61e";
}

.icon-_suliao:before {
  content: "\e8c8";
}

.icon-_zhongjinshu:before {
  content: "\e8cb";
}

.icon-_dianqi:before {
  content: "\e8ca";
}

.icon-jiaju:before {
  content: "\e8c9";
}

.icon-mine:before {
  content: "\e600";
}

.icon-shenghuodianmianduihuan:before {
  content: "\e645";
}

.icon-dingdan:before {
  content: "\e649";
}

.icon-xunhuan:before {
  content: "\e608";
}

.icon-shouye:before {
  content: "\e605";
}

.icon-tubiao-:before {
  content: "\e603";
}

.icon-jifenduihuan:before {
  content: "\e60a";
}
